<div id="idtech-invoice" class="pure-form">
    <div><h3>ID Tech Invoice Options</h3></div>
    <table id="po-update-list">
        <tbody>
        <tr>
            <td style="width: 130px">PM Fee</td>
            <td><input id="include-pm-fee" type="checkbox" /></td>
        </tr>
        <tr>
            <td>Audio PM Fee</td>
            <td><input id="include-audio-pm-fee" type="checkbox" /></td>
        </tr>
        <tr>
            <td>Rebate</td>
            <td><input id="include-rebate" type="checkbox" /></td>
        </tr>
        </tbody>
    </table>
    <br/>
    <div style="text-align: center;"><button class="pure-button pure-button-primary" id="invoice-create-button">Create</button><span style="width: 20px; display: inline-block;"></span><button class="pure-button" id="invoice-cancel-button">Cancel</button></div>
</div>