<div id="input-form" style="max-width: 400px; margin: 10px;">
    Please copy and paste the full C3 schedule here either with the column header rows.  This currently only works in Chrome, FireFox, or Safari.<br/>
    <input type="text" name="commworks" id="commworks" />
</div>
<div style="margin: 0 10px 10px 10px;">
    <div style="background-color: #666666; color: #DDDDDD; text-align: center; font-size: larger;">Missing in C3</div>
    <div id="missing-c3"></div>
</div>
<div id="missing-sonic-container" style="margin: 0 10px 10px 10px;">
    <div style="background-color: #666666; color: #DDDDDD; text-align: center; font-size: larger;">Missing in Sonic</div>
    <div id="missing-sonic"></div>
</div>

<div style="margin: 0 10px 10px 10px;">
    <div style="background-color: #666666; color: #DDDDDD; text-align: center; font-size: larger;">Value Differences</div>
    <table style="width: 100%" class="commworks-table" id="differences">
        <tbody></tbody>
    </table>
</div>