<div id="input-form" style="max-width: 700px; margin: 10px;">
    Please copy and paste the following columns from the
    construction status report into the field below to initiate a comparison to our data.  The following column header names should be used, in any order:
    Project Status, Store Number, Status, Principal Partner, City, State, Address, DMA, CM, Project Type, Entity Name, Open Store Forecasted or Open Store Date Forecasted, Comments
    <br />
    <input type="text" name="construction-report" id="construction-report" />
</div>
<div style="margin: 0 10px 10px 10px;">
    <div style="background-color: #666666; color: #DDDDDD; text-align: center; font-size: larger;">New Stores</div>
    <div id="new"></div>
</div>
<div style="margin: 0 10px 10px 10px;display:none;">
    <div style="background-color: #666666; color: #DDDDDD; text-align: center; font-size: larger;">Missing/Removed From Development Report</div>
    <div id="removed"></div>
</div>
<div style="margin: 0 10px 10px 10px;">
    <div style="background-color: #666666; color: #DDDDDD; text-align: center; font-size: larger;">Go-Live doesn't Match</div>
    <div id="go-live"></div>
</div>
<div style="margin: 0 10px 10px 10px;display:none;">
    <div style="background-color: #666666; color: #DDDDDD; text-align: center; font-size: larger;">Construction PM doesn't Match</div>
    <div id="construction-manager"></div>
</div>
