<div id="input-form" style="max-width: 400px; margin: 10px;">
    Please copy and paste the full report from FabCon.  Note this only works in Chrome currently (possibly FireFox and/or Safari as well).<br/>
    <input type="text" name="fabcon-report" id="fabcon-report" />
</div>
<div style="margin: 0 10px 10px 10px;">
    <div style="background-color: #666666; color: #DDDDDD; text-align: center; font-size: larger;">Removed by Sonic</div>
    <div id="removed"></div>
</div>
<div style="margin: 0 10px 10px 10px;">
    <div style="background-color: #666666; color: #DDDDDD; text-align: center; font-size: larger;">Missing from FabCon Report</div>
    <div id="missing"></div>
</div>
<div style="margin: 0 10px 10px 10px;">
    <div style="background-color: #666666; color: #DDDDDD; text-align: center; font-size: larger;">Delivery Date Mismatch</div>
    <div id="date-mismatch"></div>
</div>
<div style="margin: 0 10px 10px 10px;">
    <div style="background-color: #666666; color: #DDDDDD; text-align: center; font-size: larger;">Quantity Mismatch (FabCon Qty./Sonic Qty.)</div>
    <div id="quantity-mismatch"></div>
</div>