<div id="input-form" style="max-width: 400px; margin: 10px;">
    Please copy and paste both the existing install base report and the active order report below.  Ensure that you include the header/title column when copying<br/>
    <input type="text" name="hughes-report" id="hughes-installed" />
    <input type="text" name="hughes-report" id="hughes-orders" />
</div>
<div style="margin: 0 10px 10px 10px;">
    <div style="background-color: #666666; color: #DDDDDD; text-align: center; font-size: larger;">Needs Satellite</div>
    <div id="satellite"></div>
</div>
<div style="margin: 0 10px 10px 10px;">
    <div style="background-color: #666666; color: #DDDDDD; text-align: center; font-size: larger;">Needs HAN/Wireless</div>
    <div id="han"></div>
</div>