<div class="proforma">
    <div class="proforma-title" style="width: 575px; padding: 10px; background-color: #333333; color:#EEEEEE; font-size:22px; float: left;">Audio Summary Estimate - STORE #<span data-editable="StoreNumber"></span></div>
    <img style="float:right; margin: 5px;" src="resources/images/Logo.png" alt="Sonic Logo"/>
    <table class="proforma-addresses">
        <thead>
            <tr>
                <th>BILL TO:</th>
                <th></th>
                <th>SHIP TO:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Company Name:</td>
                <td contenteditable="true"></td>
                <td>Company Name:</td>
                <td contenteditable="true"></td>
            </tr>
            <tr>
                <td>Contact Person:</td>
                <td data-display="FranchiseGroup" contenteditable="true"></td>
                <td>Contact Person:</td>
                <td data-display="FranchiseGroup" contenteditable="true"></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td data-display="Address" contenteditable="true"></td>
                <td>Address:</td>
                <td data-display="Address" contenteditable="true"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td contenteditable="true"><span data-display="City"></span> <span data-display="State"></span>, <span data-display="Zip"></span></td>
                <td>&nbsp;</td>
                <td contenteditable="true"><span data-display="City"></span> <span data-display="State"></span>, <span data-display="Zip"></span></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td contenteditable="true"></td>
                <td>Phone:</td>
                <td contenteditable="true"></td>
            </tr>
            <tr>
                <td>Fax:</td>
                <td contenteditable="true"></td>
                <td>Fax:</td>
                <td contenteditable="true"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td contenteditable="true"></td>
                <td>Email:</td>
                <td contenteditable="true"></td>
            </tr>
        </tbody>
    </table>
    <div class="proforma-float quarter">
        <span>Ship Via:</span>
        <div contenteditable="true">Ground</div>
    </div>
    <div class="proforma-float quarter">
        <span>Install Date:</span>
        <div contenteditable="true"></div>
    </div>
    <div class="proforma-float half">
        <span>Remarks:</span>
        <div contenteditable="true"></div>
    </div>
    <div style="clear: both;"></div>
    <table class="proforma-items pure-table pure-table-striped" style="clear: both;">
        <thead>
            <tr>
                <th>PRODUCT CODE:</th>
                <th>DESCRIPTION</th>
                <th>PRICE</th>
                <th style="width: 100px;">QUANTITY</th>
                <th style="width: 100px;">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><div></div></td>
                <td><div></div></td>
                <td><div class="proforma-dollar">$</div><div></div></td>
                <td><div></div></td>
                <td><div class="proforma-dollar">$</div><div></div></td>
            </tr>
            <tr>
                <td><div></div></td>
                <td><div></div></td>
                <td><div class="proforma-dollar">$</div><div></div></td>
                <td><div></div></td>
                <td><div class="proforma-dollar">$</div><div></div></td>
            </tr>
            <tr>
                <td><div></div></td>
                <td><div></div></td>
                <td><div class="proforma-dollar">$</div><div></div></td>
                <td><div></div></td>
                <td><div class="proforma-dollar">$</div><div></div></td>
            </tr>
            <tr>
                <td><div></div></td>
                <td><div></div></td>
                <td><div class="proforma-dollar">$</div><div></div></td>
                <td><div></div></td>
                <td><div class="proforma-dollar">$</div><div></div></td>
            </tr>
            <tr>
                <td><div></div></td>
                <td><div></div></td>
                <td><div class="proforma-dollar">$</div><div></div></td>
                <td><div></div></td>
                <td><div class="proforma-dollar">$</div><div></div></td>
            </tr>
            <tr>
                <td><div></div></td>
                <td><div></div></td>
                <td><div class="proforma-dollar">$</div><div></div></td>
                <td><div></div></td>
                <td><div class="proforma-dollar">$</div><div></div></td>
            </tr>
            <tr>
                <td><div></div></td>
                <td><div></div></td>
                <td><div class="proforma-dollar">$</div><div></div></td>
                <td><div></div></td>
                <td><div class="proforma-dollar">$</div><div></div></td>
            </tr>
            <tr>
                <td><div></div></td>
                <td><div></div></td>
                <td><div class="proforma-dollar">$</div><div></div></td>
                <td><div></div></td>
                <td><div class="proforma-dollar">$</div><div></div></td>
            </tr>
        </tbody>
    </table>
    <table class="pure-table proforma-totals" style="width: 272px; float: right; border-top: none;">
        <tbody>
            <tr>
                <td style="width: 107px;">Sub Total:</td>
                <td class="proforma-sub" style="width: 107px;"><div class="proforma-dollar">$</div><div></div></td>
            </tr>
            <tr>
                <td>Taxes (8.5%)**:</td>
                <td class="proforma-tax"><div class="proforma-dollar">$</div><div></div></td>
            </tr>
            <tr style="font-weight: bold">
                <td>Total***:</td>
                <td class="proforma-total"><div class="proforma-dollar">$</div><div></div></td>
            </tr>
        </tbody>
    </table>
    <div style="clear: both;"></div>
    <div class="proforma-disclaimer">
        <table style="width: 640px;">

            <tr>
                <td style="text-align: right;">*</td>
                <td>This Summary Estimate contains a good faith estimate of the project costs to be incurred.  Actual costs will vary.</td>
            </tr>
            <tr>
                <td style="text-align: right;">**</td>
                <td>This is only an estimate, local sales tax will be assessed in the future.</td>
            </tr>
        </table>
    </div>
</div>