
<div id="filters">
    <table>
        <tr>
            <td style="width: 60px;"><label for="start-date">From:</label></td>
            <td id="start-date"></td>
            <td style="width: 60px; padding-left: 20px;"><label for="end-date">To:</label></td>
            <td id="end-date"></td>
        </tr>
        <tr>
            <td style="width: 60px;"></td>
            <td><button id="filter-button">Apply Filters</button></td>
        </tr>
    </table>
</div>
<div style="clear: both;"></div>
<div style="margin: 0 10px 10px 10px;">
    <div style="background-color: #666666; color: #DDDDDD; text-align: center; font-size: larger;">POPS Deliveries for the weeks from <span id="installs-header"></span></div>
    <table id="deliveries" style="border: 1px ">
        <thead>
            <tr>
                <td><h2>20/20 Drive-In<br/>Installs</h2></td>
            </tr>
        </thead>
        <tbody>
            <tr><td><b>Oracle Conversions (POPS)</b></td></tr>
            <tr><td><b>Infor Conversions (POPS)</b></td></tr>
            <tr><td><b>New Stores</b></td></tr>
            <tr><td><b>Relo/Rebuild/Remodel</b></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td><b>Future Market - TBD</b></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td><b>Total Weekly Deliveries</b></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td><b>Fabcon Units</b></td></tr>
            <tr><td><b>ID Tech Units</b></td></tr>
        </tbody>
    </table>

</div>