<div>
    <div style="background: #b9c9fe; padding: 3px 3px 0px 3px;">
        <button id="create-issue" style="float: left;" type="button">Create</button>
        <div id="issue-type" style="float: right;">All</div>
        <h3 style="margin: 0 auto; color: #2c4c78;">Issues/Tasks</h3>
        <div style="clear: both;"></div>
    </div>
    <table id="issues-table">
        <thead>
            <tr>
                <th style="width: 50px;"><!--Expander--></th>
                <th style="width: 50px;">Type</th>
                <th style="width: 115px;">Severity</th>
                <th>Title</th>
                <th>Assigned</th>
                <th>Waiting On</th>
                <th style="width: 60px;">Status</th>
                <th style="width: 75px;"><!--Edit Options--></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>