<div class="summary-row">
    <div class="summary-box summary-box-side">
        <div class="summary-box-title">Store Information</div>
        <div id="store-name" style="float: left;">Sonic Drive In #</div><div data-display="StoreNumber" id="store-number"></div>
        <div data-editable="Address" id="store-address"></div>
        <div id="store-location">
            <div data-editable="City" id="store-city" style="min-width: 40px; margin-right: 5px; display: inline-block;"></div>
            <div data-editable="State" id="store-state" style="min-width: 20px; display: inline-block;"></div>
            <div style="margin-right: 5px; display: inline-block;">,</div>
            <div data-editable="Zip" id="store-zip" style="min-width: 100px; display: inline-block"></div>
        </div>
        <div class="summary-box-label" style="width: 110px;">Store&nbsp;Phone:</div>               <div style="width: 175px;" data-editable="StorePhone" class="summary-box-input"></div>
        <div class="summary-box-label" style="width: 110px;">Store&nbsp;Manager:</div>               <div style="width: 175px;" data-editable="StoreManager" class="summary-box-input"></div>
        <br><br>
        <div class="summary-box-label" style="clear: left; width: 110px;">POC:</div>    <div style="width: 175px;" data-editable="PrimaryContact" class="summary-box-input"></div>
        <div class="summary-box-label" style="width: 110px;">POC&nbsp;Phone:</div>               <div style="width: 175px;" data-editable="PrimaryPhone" class="summary-box-input"></div>
        <div class="summary-box-label" style="width: 110px;">POC&nbsp;Email:</div>               <div style="width: 175px;" data-editable="PrimaryEmail" class="summary-box-input"></div>
        <div class="summary-box-label" style="width: 110px;">Market&nbsp;Leader:</div>               <div style="width: 175px;" data-editable="MarketLeader" class="summary-box-input"></div>
        <div class="summary-box-label" style="width: 110px;">Vice&nbsp;President:</div>               <div style="width: 175px;" data-editable="VicePresident" class="summary-box-input"></div>
    </div>
    <div class="summary-box summary-box-middle">
        <div class="summary-box-title">HME Integrations</div>
        <div><center><u>HME 6700 Integration</u></center></div>
        <div class="summary-box-label">Go-Live:</div>              <div data-editable="HME6700GoLive" class="summary-box-input"></div>
        <div class="summary-box-label">Installer:</div>        <div data-editable="HME6700Installer" class="summary-box-input"></div>
        <div class="summary-box-label">Project Manager:</div>     <div data-editable="HME6700ProjectManager" class="summary-box-input"></div>

        <div class="summary-box-label">Software Install:</div>     <div data-editable="HME6700SoftwareInstall" class="summary-box-input"></div>
        <div class="summary-box-label">EM Go-Live:</div>     <div data-editable="HME6700EMGoLive" class="summary-box-input"></div>

        <div><center><u>HME 6400 Integration</u></center></div>
        <div class="summary-box-label">Go-Live:</div><div data-editable="HME6400GoLive" class="summary-box-input"></div>
        <div class="summary-box-label">Installer:</div>       <div data-editable="HME6400Installer" class="summary-box-input"></div>
        <div class="summary-box-label">Project Manager:</div>       <div data-editable="HME6400ProjectManager" class="summary-box-input"></div>

        <div class="summary-box-label">Software Install:</div>     <div data-editable="HME6400SoftwareInstall" class="summary-box-input"></div>
        <div class="summary-box-label">EM Go-Live:</div>     <div data-editable="HME6400EMGoLive" class="summary-box-input"></div>

    </div>
    <div class="summary-box summary-box-side">
        <div class="summary-box-title"></div>

    </div>
</div>
<div class="summary-row">
    <div class="summary-box summary-box-side">
        <div class="summary-box-title">Infor Server and HDD Upgrades</div>
        <div class="summary-box-label">Server Type:</div>   <div data-editable="InforServerHDDUpgradesServerType" class="summary-box-input"></div>
        <div class="summary-box-label">Ordered:</div>   <div data-editable="InforServerHDDUpgradesOrdered" class="summary-box-input"></div>
        <div class="summary-box-label">Delivered:</div>   <div data-editable="InforServerHDDUpgradesDelivered" class="summary-box-input"></div>
        <div class="summary-box-label">Go-Live:</div>   <div data-editable="InforServerHDDUpgradesGoLive" class="summary-box-input"></div>
        <div class="summary-box-label">HDD Type:</div><div data-editable="InforServerHDDUpgradesHDDType" class="summary-box-input"></div>
        <div class="summary-box-label">Ordered:</div><div data-editable="InforServerHDDUpgradesHDDOrdered" class="summary-box-input"></div>
        <div class="summary-box-label">Delivered:</div><div data-editable="InforServerHDDUpgradesHDDDelivered" class="summary-box-input"></div>
        <div class="summary-box-label">Go-Live:</div><div data-editable="InforServerHDDUpgradesHDDGoLive" class="summary-box-input"></div>
        <div class="summary-box-label">Project Manager:</div><div data-editable="InforServerHDDUpgradesHDDProjectManager" class="summary-box-input"></div>
        <br />
    </div>
    <div class="summary-box summary-box-middle">
        <div class="summary-box-title">Infor Terminal Upgrades</div>
        <div class="summary-box-label"># of Terminals:</div>        <div data-editable="InforTerminalUpgradesNumOfTerminals" class="summary-box-input"></div>
        <div class="summary-box-label"># Upgraded:</div>     <div data-editable="InforTerminalUpgradesNumUpgraded" class="summary-box-input"></div>
        <div class="summary-box-label">Ordered:</div>       <div data-editable="InforTerminalUpgradesOrdered" class="summary-box-input"></div>
        <div class="summary-box-label">Delivery:</div>       <div data-editable="InforTerminalUpgradesDelivery" class="summary-box-input"></div>
        <div class="summary-box-label">Go-Live:</div>            <div data-editable="InforTerminalUpgradesGoLive" class="summary-box-input"></div>
        <div class="summary-box-label">Project Manager:</div>            <div data-editable="InforTerminalUpgradesProjectManager" class="summary-box-input"></div>
        <hr />
        <div class="summary-box-label">Notes:</div>            <div data-editable="InforTerminalUpgradesNotes" class="summary-box-input"></div>
    </div>
    <div class="summary-box summary-box-side">
        <div class="summary-box-title">Oracle Server Upgrade</div>
        <div class="summary-box-label">Server Type:</div>        <div data-editable="OracleServerUpgradeServerType" class="summary-box-input"></div>
        <div class="summary-box-label">Ordered:</div>     <div data-editable="OracleServerUpgradeOrdered" class="summary-box-input"></div>
        <div class="summary-box-label">Delivery:</div>       <div data-editable="OracleServerUpgradeDelivery" class="summary-box-input"></div>
        <div class="summary-box-label">Go-Live:</div>       <div data-editable="OracleServerUpgradeGoLive" class="summary-box-input"></div>
        <div class="summary-box-label">Installer:</div>            <div data-editable="OracleServerUpgradeInstaller" class="summary-box-input"></div>
        <div class="summary-box-label">Serial #:</div>            <div data-editable="OracleServerUpgradeSerialNum" class="summary-box-input"></div>
        <div class="summary-box-label">Windows Upgrade:</div>            <div data-editable="OracleServerUpgradeWindowsUpgrade" class="summary-box-input"></div>
        <div class="summary-box-label">Go-Live:</div>            <div data-editable="OracleServerUpgradeGoLive2" class="summary-box-input"></div>
        <div class="summary-box-label">Project Manager:</div>            <div data-editable="OracleServerUpgradePM" class="summary-box-input"></div>
    </div>
</div>
<div class="summary-row">
    <div class="summary-box summary-box-side">
        <div class="summary-box-title">VP68000 Enclosures</div>
        <div class="summary-box-label">BuyPass ID:</div>   <div data-editable="MerchantId" class="summary-box-input"></div>
        <div class="summary-box-label">ServerEPS:</div>     <div data-editable="ServerEps" class="summary-box-input"></div>
        <div class="summary-box-label">Type:</div>          <div data-editable="PaysType" class="summary-box-input"></div>
        <div class="summary-box-label">Delivery:</div>      <input data-editable="PaysDeliveryDate" class="summary-box-input" />
        <div class="summary-box-label">POS Data:</div>      <div data-editable="CirronetStatus" class="summary-box-input"></div>
        <!--<div class="summary-box-label">Status:</div>        <div data-editable="PaysStatus" class="summary-box-input"></div>-->
        <div class="summary-box-label">PAYS Units:</div>    <div data-editable="PaysQuantity" class="summary-box-input"></div>
        <div class="summary-box-label">45&deg;  Enclosures:</div> <div data-editable="PaysEnclosureIndoor" class="summary-box-input"></div>
        <div class="summary-box-label">90&deg;  Enclosures:</div> <div data-editable="PaysEnclosureOutdoor" class="summary-box-input"></div>
        <div class="summary-box-label">DT Enclosures:</div> <div data-editable="PaysEnclosureDriveThru" class="summary-box-input"></div>
    </div>
    <div class="summary-box summary-box-middle">

    </div>
    <div class="summary-box summary-box-side">
        <div class="summary-box-title">Hughes Switch Upgrade</div>
        <div class="summary-box-label">Ordered:</div>           <div data-editable="HughesSwitchUpgradeOrdered" class="summary-box-input"></div>
        <div class="summary-box-label">Delivered:</div>           <div data-editable="HughesSwitchUpgradeDelivered" class="summary-box-input"></div>
        <div class="summary-box-label">Go-Live:</div>           <div data-editable="HughesSwitchUpgradeGoLive" class="summary-box-input"></div>
        <div class="summary-box-label">Installer:</div>           <div data-editable="HughesSwitchUpgradeInstaller" class="summary-box-input"></div>
        <div class="summary-box-label">Project Manager:</div>           <div data-editable="HughesSwitchUpgradePM" class="summary-box-input"></div>
    </div>
</div>
<div class="full-width-box" style="text-align: center;">
    <div id="notes">Loading...</div>
</div>
<div class="full-width-box pure-form" style="text-align: center">
    <div class="notes-box-title">Workflows</div>
    <select id="workflows">
        <option value="select-workflow">Select Workflow</option>
        <option value="generate-pro-forma">Generate POPS Summary</option>
        <option value="fabcon-create-purchase-order">FabCon - Create Purchase Order</option>
        <option value="fabcon-dtpops-create-purchase-order">FabCon - DT POPS Base - Create Purchase Order</option>
        <option value="installer-quote-request">Installer Quote Request</option>
    </select>
</div>
<div class="full-width-box" style="text-align: center">
    <div id="issues">Loading...</div>
</div>
<div>
    <div class="notes-box-title">Documents</div>
    <div id="document-manage"></div>
    <div id="document-tree" style="box-sizing: border-box; border: 5px #FFF solid">
        <ul id="documents">
            <!--<li><a id="documents-link" href=''>Documents Folder</a>(Right click, copy shortcut, paste into windows explorer)</li>-->
        </ul>
    </div>
</div>
<div style="text-align: center">
    <div class="notes-box-title">Sharepoint Links</div>
    <a id="combined-schedule">Combined Schedule</a> - <a id="master-portal">Readiness Schedule</a>
</div>