.PMOTable
{
    width: 100%; vertical-align: top;
}
.PMOTableTR
{
vertical-align:top;
}

.PMOTableMessage {
    min-height: 450px;
}
.PMOTableDiv
{font-family: Arial, Helvetica, sans-serif;}
.PMOTableSpan
{font-weight: bold;}
.PMOTableQuote
{font-family: Arial, Helvetica, sans-serif;}
.PMOTableDelivery
{font-weight: bold;}
.TablePMOOrderItems
{border: 1px solid black !important; border-collapse: collapse; font-family: Arial, Helvetica, sans-serif;}
.TablePMOOrderItemsTR
{background-color: #333; color: #DDD;}
.TablePMOOrderItemsTD1
{border-top: 1px solid black !important; width: 45px !important; text-align: center !important;}
.TablePMOOrderItemsTD2
{border-top: 1px solid black !important; width: 250px; text-align: center;}
.TablePMOOrderItemsTD3
{border-top: 1px solid black !important; text-align: center;}
.TablePMORemoveRow
{display:none;}
.TablePMOCenter
{text-align: center;}