<div style="max-width: 968px; border: 1px solid black; margin: 10px; padding: 5px;">
    <p>Select a report or workflow tool below or type in the search box above to find information about a store.  The search box supports a combination of city, state, store number, rvp, svp, or franchisee names.</p>
</div>
<div style="max-width: 968px; border: 1px solid black; margin: 10px; padding: 5px;">
    <h2>Vendor Reports</h2>
    <ul>
        <li>
            POS:
            <ul style="margin: 0 0 5px 0;">
                <li><a href="#reports/micros">Oracle - Construction</a></li>
                <li><a href="#reports/micros-conversions">Oracle - Conversion</a></li>
                <li><a href="#reports/infor">Infor - Construction</a></li>
                <li><a href="#reports/infor-conversions">Infor - Conversion</a></li>
            </ul>
        </li>
        <li>
            Franchisee Owned POS:
            <ul style="margin: 0 0 5px 0;">
                <li><a href="#reports/sonicownedmicrosoracle">Oracle/Micros</a></li>
                <li><a href="#reports/sonicownedinfor">Infor</a></li>
                <li><a href="#reports/sonicownedundecided">Undecided/Other/None</a></li>
            </ul>
        </li>
        <li>
            Installers:
            <ul style="margin: 0 0 5px 0;">
                <li><a href="#reports/site-survey">Site Surveys</a></li>
                <li><a href="#reports/construction-installers">All Construction</a> <a href="#reports/construction-installers/sort/InstallDate">(sort by install)</a></li>
                <li><a href="#reports/construction-installers-workload">Construction Installer Workload</a>
                <li><a href="#reports/mira">MIRA - Construction</a></li>
                <li><a href="#reports/mira-all">MIRA - All</a> Includes conversion projects and unassigned projects</li>
                <li><a href="#reports/avit">AVIT - Construction</a></li>
                <li><a href="#reports/rh-tech">RH Tech - Construction</a></li>
                <li><a href="#reports/construction-installer-scorecard">Construction Installer Scorecard (by project) - 60 day view</a></li>
                <li><a href="#reports/construction-installer-scorecard-by-installer">Construction Installer Scorecard (by install group) - 60 day view</a></li>
            </ul>
        </li>
        <li>
            Audio:
            <ul style="margin: 0 0 5px 0;">
                <li><a href="#reports/hme">Construction HME</a> <a href="#reports/hme/sort/InstallDate">(sort by install)</a></li>
                <li><a href="#reports/micros-audio-construction">Construction Oracle</a></li>
                <li><a href="#reports/construction-audio">Construction All</a></li>
                <li><a href="#reports/micros-audio-conversion">Conversion Oracle</a></li>
                <li><a href="#reports/hme-conversion">Conversion HME</a></li>
                <li><a href="#reports/micros-audio">Oracle All Future</a></li>
                <li><a href="#reports/micros-audio-historical">Oracle Historical & Future</a></li>
                <li><a href="#reports/hme-all">HME All</a></li>
                <li><a href="#reports/hme-dual-driveins">HME 6700 Dual Drive-ins w/ Dual HME Bridges</a></li>
            </ul>
        </li>
        <li>
            Comcast:
            <ul style="margin: 0 0 5px 0;">
                <li><a href="#reports/hughes">Comcast/Internal Sonic Network</a> <a href="#reports/hughes/sort/InstallDate">(sort by install)</a></li>
                <li><a href="#reports/hughes-primary">Comcast Primary</a> <a href="#reports/hughes-primary/sort/InstallDate">(sort by install)</a></li>
                <li><a href="#reports/hughes-relocation">Comcast Relocation Report</a></li>
                <li><a href="#reports/conversion-hughes">Comcast Conversion Report</a></li>
            </ul>
        </li>
        <li>
            POPS:
            <ul style="margin: 0 0 5px 0;">
                <li><a href="#reports/fabcon">FabCon - Construction Only</a></li>
                <li><a href="#reports/conversion-fabcon">FabCon - Conversion Only</a></li>
            </ul>
        </li>
        <li>
            DT POPS:
            <ul style="margin: 0 0 5px 0;">
                <li><a href="#reports/dt-pops-all-historical">Historical</a></li>
                <li><a href="#reports/dt-pops-all">Combined - Upcoming</a></li>
                <li><a href="#reports/dt-pops-construction">Construction - Upcoming</a></li>
                <li><a href="#reports/dt-pops-conversion">Conversion - Upcoming</a></li>
            </ul>
        </li>
        <li><a href="#reports/dmb">Digital Menu Boards</a></li>
        <li><a href="#reports/pays">PAYS (POSData/ServerEPS/FirstData/TASQ)</a></li>
        <li><a href="#reports/construction-sonic-radio">Sonic Radio</a> <a href="#reports/construction-sonic-radio/sort/InstallDate">(sort by install)</a></li>
    </ul>

    <h2>Internal Reports</h2>
    <ul>
        
        <li><a href="#reports/upcoming-all-new">All Projects</a>: Upcoming all projects using delivery/install/go-live dates</li>
        <li><a href="#reports/oracleserverupgradeschedule">Oracle Server Upgrade Schedule</a>: Upcoming upgrades based on Upgrade Go Live Date</li>
        <li><a href="#reports/oracleserverupgradeschedule2">Oracle Server Upgrade-Windows Upgrade Go Live Schedule</a>: Upcoming upgrades based on Windows upgrade Go Live Date</li>
        <li><a href="#reports/serverswapupgrade">Server Swap Go-Live Report</a></li>
        <li><a href="#reports/serverswapupgrade2">Windows 10 Upgrade Go-Live Report</a></li>
        <li><a href="#reports/overnightreportsummary">Overnight Report Summary</a></li>
        <li><a href="#reports/rvp">RVP Agenda/Construction Summary</a></li>
        <li><a href="#reports/upcoming-all">Upcoming Installs All</a>: 8 Month view, including all projects</li>
        <li><a href="#reports/upcoming">Upcoming Installs</a>: 4 Month view, includes construction and conversion projects</li>
        <li><a href="#reports/openings">Upcoming Openings</a>: 1 Month view, includes construction and conversion projects</li>
        <li><a href="#openings/openings-by-day">Opening Schedule</a>: Searchable list of openings, sorted by Go-Live date, defaults to the current week</li>
        <li><a href="#support/installs-by-day">Install Schedule</a>: Searchable list of installs, sorted by install date, defaults to the current week</li>
        <li><a href="#training/openings-by-day">Trainer Assignment</a>: Searchable list of assigned trainers, sorted by opening date, defaults to the 4 week period of Oracle POS construction and conversion projects.</li>
        <li><a href="#weekly-pops">POPS Weekly Shipping Summary</a>: Searchable list of weekly POPS deliveries and total number of POPS delivered</li>
        <li><a href="#reports/ateam">A-Team Status</a>: List of all new stores with go-live dates from ten days in the past forward to track the </li>
        <li><a href="#manufacturing-projection">POPS Hardware Projection</a>: Shows POPS and mounting brackets required for all upcoming installs inside a selected date range</li>
        <li><a href="#reports/chronically-ailing">Chronically Ailing</a>: A list of all stores in the chronically ailing fast-track program</li>
        <li><a href="#reports/enterprise-management-construction">Enterprise Management - Construction</a></li>
        <li><a href="#reports/construction-post-install">Post Install - Construction</a></li>
        <li><a href="#reports/ConstructionSchedule">Upcoming Construction Schedule</a>: Opening schedule / install schedule for construction stores</li>
        <li><a href="#support/installs-by-day-payment">Pay Mod Install Schedule</a>: Searchable list of installs, sorted by install date, defaults to the current week</li>
        <li><a href="#reports/paymentmodproject">Upcoming Next Gen Pays</a>: Current and Future</li>
        <li><a href="#reports/paymentmodprojectall">Upcoming Next Gen Pays - ALL</a>: Current and Future<br /><br /></li>
        <li><a href="#reports/oraclekitchenpos">Oracle CE Kitchen POS Replacement</a>: Current and Future<br /><br /></li>
        <li><a href="#reports/firewallapvsatreplacement">Firewall/AP/Backup Replacement</a>: Current and Future<br /><br /></li>

        


        

        <li><a href="#reports/paymentmodprojectdates">Next Gen Pays Readiness Report</a> (Sort by: <a href="#reports/paymentmodprojectdates/sort/VP6800ITPM">PM</a> | <a href="#reports/paymentmodprojectdates/sort/FranchiseGroup">Franchisee</a> | <a href="#reports/paymentmodprojectdates/sort/VP6800Ordered">Ordered</a> | <a href="#reports/paymentmodprojectdates/sort/VP6800Level10TrackingNum">Tracking</a> | <a href="#reports/paymentmodprojectdates/sort/VP6800HughesDoctoFEE">Comcast Sent FEE</a> | <a href="#reports/paymentmodprojectdates/sort/VP6800OrderDocSenttoFee">Order Doc Sent to FEE</a>)
            <ul style="margin: 0 0 5px 0;">
                <li><a href="#reports/paymentmodprojectdates/itpm/kaitlyn">Kaitlyn Childers</a> (Sort by: <a href="#reports/paymentmodprojectdates/itpm/kaitlyn/sort/FranchiseGroup">Franchisee</a> | <a href="#reports/paymentmodprojectdates/itpm/kaitlyn/sort/VP6800Ordered">Ordered</a> | <a href="#reports/paymentmodprojectdates/itpm/kaitlyn/sort/VP6800Level10TrackingNum">Tracking</a> | <a href="#reports/paymentmodprojectdates/itpm/kaitlyn/sort/VP6800HughesDoctoFEE">Comcast Sent FEE</a> | <a href="#reports/paymentmodprojectdates/itpm/kaitlyn/sort/VP6800OrderDocSenttoFee">Order Doc Sent to FEE</a>)</li>
                <li><a href="#reports/paymentmodprojectdates/itpm/parish">Dustin Parish</a> (Sort by: <a href="#reports/paymentmodprojectdates/itpm/parish/sort/FranchiseGroup">Franchisee</a> | <a href="#reports/paymentmodprojectdates/itpm/parish/sort/VP6800Ordered">Ordered</a> | <a href="#reports/paymentmodprojectdates/itpm/parish/sort/VP6800Level10TrackingNum">Tracking</a> | <a href="#reports/paymentmodprojectdates/itpm/parish/sort/VP6800HughesDoctoFEE">Comcast Sent FEE</a> | <a href="#reports/paymentmodprojectdates/itpm/parish/sort/VP6800OrderDocSenttoFee">Order Doc Sent to FEE</a>) </li>
                <li><a href="#reports/paymentmodprojectdates/itpm/coffman">Michele Coffman</a> (Sort by: <a href="#reports/paymentmodprojectdates/itpm/coffman/sort/FranchiseGroup">Franchisee</a> | <a href="#reports/paymentmodprojectdates/itpm/coffman/sort/VP6800Ordered">Ordered</a> | <a href="#reports/paymentmodprojectdates/itpm/coffman/sort/VP6800Level10TrackingNum">Tracking</a> | <a href="#reports/paymentmodprojectdates/itpm/coffman/sort/VP6800HughesDoctoFEE">Comcast Sent FEE</a> | <a href="#reports/paymentmodprojectdates/itpm/coffman/sort/VP6800OrderDocSenttoFee">Order Doc Sent to FEE</a>) </li>
                <li><a href="#reports/paymentmodprojectdates/itpm/desai">Neal Desai</a> (Sort by: <a href="#reports/paymentmodprojectdates/itpm/desai/sort/FranchiseGroup">Franchisee</a> | <a href="#reports/paymentmodprojectdates/itpm/desai/sort/VP6800Ordered">Ordered</a> | <a href="#reports/paymentmodprojectdates/itpm/desai/sort/VP6800Level10TrackingNum">Tracking</a> | <a href="#reports/paymentmodprojectdates/itpm/desai/sort/VP6800HughesDoctoFEE">Comcast Sent FEE</a> | <a href="#reports/paymentmodprojectdates/itpm/desai/sort/VP6800OrderDocSenttoFee">Order Doc Sent to FEE</a>) </li>
                <li><a href="#reports/paymentmodprojectdates/itpm/rice">Josh Rice</a> (Sort by: <a href="#reports/paymentmodprojectdates/itpm/rice/sort/FranchiseGroup">Franchisee</a> | <a href="#reports/paymentmodprojectdates/itpm/rice/sort/VP6800Ordered">Ordered</a> | <a href="#reports/paymentmodprojectdates/itpm/rice/sort/VP6800Level10TrackingNum">Tracking</a> | <a href="#reports/paymentmodprojectdates/itpm/rice/sort/VP6800HughesDoctoFEE">Comcast Sent FEE</a> | <a href="#reports/paymentmodprojectdates/itpm/rice/sort/VP6800OrderDocSenttoFee">Order Doc Sent to FEE</a>) </li>
                <li><a href="#reports/paymentmodprojectdates/itpm/over">Cory Van Over</a> (Sort by: <a href="#reports/paymentmodprojectdates/itpm/over/sort/FranchiseGroup">Franchisee</a> | <a href="#reports/paymentmodprojectdates/itpm/over/sort/VP6800Ordered">Ordered</a> | <a href="#reports/paymentmodprojectdates/itpm/over/sort/VP6800Level10TrackingNum">Tracking</a> | <a href="#reports/paymentmodprojectdates/itpm/over/sort/VP6800HughesDoctoFEE">Comcast Sent FEE</a> | <a href="#reports/paymentmodprojectdates/itpm/over/sort/VP6800OrderDocSenttoFee">Order Doc Sent to FEE</a>) </li>
                
                <li><a href="#reports/paymentmodprojectdates/itpm/srader">Jason Srader</a> (Sort by: <a href="#reports/paymentmodprojectdates/itpm/srader/sort/FranchiseGroup">Franchisee</a> | <a href="#reports/paymentmodprojectdates/itpm/srader/sort/VP6800Ordered">Ordered</a> | <a href="#reports/paymentmodprojectdates/itpm/srader/sort/VP6800Level10TrackingNum">Tracking</a> | <a href="#reports/paymentmodprojectdates/itpm/srader/sort/VP6800HughesDoctoFEE">Comcast Sent FEE</a> | <a href="#reports/paymentmodprojectdates/itpm/srader/sort/VP6800OrderDocSenttoFee">Order Doc Sent to FEE</a>) </li>
            </ul>
        </li>

    </ul>

    <h2>Construction Project Review</h2>
    <ul>
        <li><a href="#reports/project-assignment">Project Manager Assignment</a></li>
        <li>
            <a href="#project-review">Project Review</a> (<a href="#project-review/sort/InstallDate">Sort by Install</a>)
                                                          <ul style="margin: 0 0 5px 0;">
                                                              
                                                              <li><a href="#project-review/itpm/paige">Paige</a> (<a href="#project-review/itpm/paige/sort/InstallDate">Sort by Install</a>)</li>
                                                              <li><a href="#project-review/itpm/emily">Emily</a> (<a href="#project-review/itpm/emily/sort/InstallDate">Sort by Install</a>)</li>
                                                              <li><a href="#project-review/itpm/rice">Josh Rice</a> (<a href="#project-review/itpm/rice/sort/InstallDate">Sort by Install</a>)</li>
                                                              <li><a href="#project-review/itpm/dylan">Dylan</a> (<a href="#project-review/itpm/dylan/sort/InstallDate">Sort by Install</a>)</li>
                                                              <li><a href="#project-review/itpm/kaitlyn">Kaitlyn Childers</a> (<a href="#project-review/itpm/kaitlyn/sort/InstallDate">Sort by Install</a>)</li>
                                                          </ul>
        </li>
    </ul>
    <h2>Next Gen Pays Project Review</h2>
    <ul>
        <li><a href="#reports/project-assignment-paymod">Project Manager Assignment</a></li>
        <li>
            <a href="#project-review-paymod">Project Review</a> 
            <ul style="margin: 0 0 5px 0;">
                <li><a href="#project-review-paymod/itpm/kaitlyn">Kaitlyn Childers</a> </li>
                <li><a href="#project-review-paymod/itpm/parish">Dustin Parish</a> </li>
                <li><a href="#project-review-paymod/itpm/coffman">Michele Coffman</a> </li>
                <li><a href="#project-review-paymod/itpm/desai">Neal Desai</a> </li>
                <li><a href="#project-review-paymod/itpm/rice">Josh Rice</a> </li>
                <li><a href="#project-review-paymod/itpm/over">Cory Van Over</a> </li>
                <li><a href="#project-review-paymod/itpm/srader">Jason Srader</a> </li>
            </ul>
        </li>
    </ul>

    <h2>Construction Project Update Tool</h2>
    <ul>
        <li><a href="/Scoop/Information%20Services/PMT/Roll%20Out/SitePages/DailyUpdates/index.aspx">Daily Update Mobile Web App</a></li>
    </ul>

</div>
<div style="max-width: 968px; border: 1px solid black; margin: 10px; padding: 5px;">
    <h2>Tools</h2>
    Select a workflow from below.
    <ul>
        <li><a href="#reports/storeconfigurationsearch">Store Configuration Search</a></li>
        <li><a href="https://www.sonicpartnernet.com/Scoop/Information Services/PMT/Roll Out/NSTI Documents/Forms/AllItems.aspx">NSTI Documents</a></li>
        <li><a href="#sync/construction-report">Development Report Synchronization</a></li>
        <!--<li><a href="#sync/hughes-report">Hughes Synchronization</a> (beta)</li>-->
        <li><a href="#sync/fabcon-report">FabCon Synchronization</a> (beta)</li>
        <li><a href="#sync/construction-report-new">NEW Development Report Synchronization</a></li>
        <!--<li><a href="#sync/proforma-generator">Summary Estimate Generator</a> (beta)</li>-->
        <!--<li><a href="#sync/commworks">Comm-Works C3 Sync Tool</a> (beta)</li>-->
    </ul>
</div>
<div style="max-width: 968px; border: 1px solid black; margin: 10px; padding: 5px;">
    <h2>Weekly Triggered Reports</h2>
    Select a report on the day.
    <ul>
        <li><a href="https://irbpartners.sharepoint.com/sites/RetailTechDeployment/SitePages/RetailTechnology/index.aspx#reports/upcoming-fabcon/email/html/subject/FABCON%20POPS%20Consolidation%20Report/body/to/cromero%40fabcon.com%3B%3BBJuarez%40fabcon.com%3Bvtobar%40fabcon.com%3BIEscobar%40fabcon.com%3BRAlbrechtsen%40fabcon.com%3BMPerez%40fabcon.com%3BrMagallanes%40fabcon.com%3Bnsti%40sonicdrivein.com%3BCharles.Cease%40sonicdrivein.com%3BDsmith@fabcon.com%3Bsandy.lee@itsco.net%3BJustin.ning@idtechproducts.com%3B">Monday Reports</a></li>
        <li><a href="https://irbpartners.sharepoint.com/sites/RetailTechDeployment/SiteAssets/TuesEmailReports.html">Tuesday Reports</a></li>
        <li><a href="https://irbpartners.sharepoint.com/sites/RetailTechDeployment/SiteAssets/FriEmailReports8AM.html">Friday 8AM Reports</a></li>
        <li><a href="https://irbpartners.sharepoint.com/sites/RetailTechDeployment/SiteAssets/FriEmailReports.html">Friday 9AM Reports</a></li>
        
    </ul>
</div>