<tr style='vertical-align: top;height:65px;'>
    <!--Store-->
    <td style="height:55px;">
        <i class="fa fa-plus-circle expander" aria-hidden="true" style="font-size:2em; display: inline-block; margin-right: 5px; width: 22px;"></i>
        <div style="display: inline-block; width: calc(100% - 22px)">
            <a class="link summary-box-title" id="store-link" href="#" style="display: block;" target="_blank">
                <div data-display="FranchiseGroup" style="margin-right: 5px; display: inline-block;"></div>
                <br />
                #<div data-display="StoreNumber" style="display: inline-block;"></div>
            </a>
            <div class="row-summary">Go Live: <div data-display="VP6800GoLive" style="display: inline-block"></div> - <div data-display="VP6800ITPM" style="display: inline-block"></div></div>
            <div class="row-details" style="display: none;">
                
                
                <div class="review-row">
                    <div class="review-label">PM:</div>
                    <div data-editable="VP6800ITPM" class="review-value"></div>
                </div>
                <div class="review-row">
                    <div class="review-label">Go-Live:</div>
                    <div data-editable="VP6800GoLive" class="review-value"></div>
                </div>
                <div class="review-row">
                    <div class="review-label" style="padding-right:1px;">Ste Close:</div>
                    <div data-editable="VP6800StoreCloseTime" class="review-value"></div>
                </div>
                <div class="review-row">
                    <div class="review-label">Installer:</div>
                    <div data-editable="VP6800Installer" class="review-value"></div>
                </div>
                <div class="review-row">
                    <div class="review-label">Tech:</div>
                    <div data-editable="VP6800InstallerLead" class="review-value"></div>
                </div>
            </div>
        </div>
    </td>
    <!--Hughes-->
    <td>
        <div class="summary-box-title" data-category="Connectivity">COMMUNICATIONS</div>
        <div class="row-summary"><div data-display="VP6800IntroCallToFee"></div></div>
        <div class="row-details" style="display: none;">
            <div class="review-row">
                <div class="review-label">Intro:</div>   <div data-editable="VP6800IntroCallToFee" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">30 Day:</div>     <div data-editable="VP680030DayComm" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">2 Week:</div>   <div data-editable="VP68002WeekComm" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">1 Week:</div>     <div data-editable="VP68001WeekComm" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Day Before:</div>   <div data-editable="VP6800DayBeforeInstallComm" class="review-value"></div>
            </div>
            <br />
            
        </div>
    </td>

    <!--POS-->
    <td>
        <div class="summary-box-title" data-category="POS">SITE SURVEY</div>
        <div class="row-summary"><div data-display="VP6800SiteSurveyRequested2"></div></div>
        <div class="row-details" style="display: none;">
            <div class="review-row">
                <div class="review-label">Requested:</div>     <div data-editable="VP6800SiteSurveyRequested" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Company:</div>   <div data-editable="VP6800ProjectSiteSurveyCompany" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Tech:</div>     <div data-editable="VP6800SSTech" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Date:</div>    <div data-editable="VP6800ProjectSiteSurveyDate" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Comm to Fee:</div>     <div data-editable="VP6800SiteSurveyDateCommtoFEE" class="review-value"></div>
            </div>
            
        </div>
    </td>

    <!--POPS-->
    <td>
        <div class="summary-box-title" data-category="POPS">PARTS</div>
        <div class="row-summary"><div data-display="VP6800PartsCall2"></div></div>
        <div class="row-details" style="display: none;">
            <div class="review-row">
                <div class="review-label">Parts Call:</div>     <div data-editable="VP6800PartsCall" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Signature Page Sent:</div>   <div data-editable="VP6800OrderDocSenttoFee" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Signature Page Rec'vd:</div>     <div data-editable="VP6800SignaturePageReceived" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Ordered:</div>   <div data-editable="VP6800Ordered" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">PO#:</div>   <div data-editable="VP6800PONum" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Delivery:</div>   <div data-editable="VP6800Delivery" class="review-value"></div>
            </div>
        </div>
    </td>

    <!--Audio-->
    <td>
        <div class="summary-box-title" data-category="Audio">TRACKING</div>
        <div class="row-summary"><div data-display="VP6800Level10Tracking"></div></div>
        <div class="row-details" style="display: none;">
            <div class="review-row">
                <div class="review-label">Level 10:</div>     <div data-editable="VP6800Level10TrackingNum" class="review-value"></div>
            </div>
            
        </div>
    </td>

    

    <!--Notes-->
    <td>
        <div class="summary-box-title" data-category="Notes">Notes</div>
        <div class="row-details" style="display: none;">
            <div data-editable="VP6800ProjectNotes" style="min-width: 150px; max-width: 300px; white-space: normal;"></div>
        </div>
    </td>
</tr>