<div style="margin: 0 10px 10px 10px; float: left; width: 45%">
    <div style="background-color: #666666; color: #DDDDDD; text-align: center; font-size: larger;">PM Workload - 120 Days</div>
    <div id="workload"></div>
</div>
<div style="margin: 0 10px 10px 10px; width: 45%; float: left;">
    
</div>
<div style="margin: 0 10px 10px 10px; clear: both;">
    <div style="background-color: #666666; color: #DDDDDD; text-align: center; font-size: larger;">Start Calls - 90 Days</div>
    <div id="start"></div>
</div>
<div style="margin: 0 10px 10px 10px;">
    
</div>