<tr style='vertical-align: top;'>
    <!--Store-->
    <td>
        <i class="fa fa-plus-circle expander" aria-hidden="true" style="font-size:2em; display: inline-block; margin-right: 5px; width: 22px;"></i>
        <div style="display: inline-block; width: calc(100% - 22px)">
            <a class="link summary-box-title" id="store-link" href="#" style="display: block;" target="_blank">
                <div data-display="City" style="margin-right: 5px; display: inline-block;"></div>
                <div data-display="State" style="margin-right: 5px; display: inline-block;"></div>
                #<div data-display="StoreNumber" style="display: inline-block;"></div>
            </a>
            <div class="row-summary">Go Live: <div data-display="GoLiveDate" style="display: inline-block"></div> - <div data-display="ProjectManager" style="display: inline-block"></div></div>
            <div class="row-details" style="display: none;">
                <div class="review-row">
                    <div class="review-label">Type:</div>
                    <div data-editable="ProjectType" class="review-value"></div>
                </div>
                <div class="review-row">
                    <div class="review-label">Franchisee:</div>
                    <div data-editable="FranchiseGroup" class="review-value"></div>
                </div>
                <div class="review-row">
                    <div class="review-label">ProjectManager:</div>
                    <div data-editable="ProjectManager" class="review-value"></div>
                </div>
                <div class="review-row">
                    <div class="review-label">Install:</div>
                    <div data-editable="InstallDate" class="review-value"></div>
                </div>
                <div class="review-row">
                    <div class="review-label">Go Live:</div>
                    <div data-editable="GoLiveDate" class="review-value"></div>
                </div>
                <div class="review-row">
                    <div class="review-label"><b>Project Cost:</b></div>
                    <div data-display="StoreConfigurationCost" class="review-value"></div>
                </div>
            </div>
        </div>
    </td>
    <!--Hughes-->
    <td>
        <div class="summary-box-title" data-category="Connectivity">Connectivity</div>
        <div class="row-summary"><div data-display="HughesTempDate"></div></div></div>
        <div class="row-details" style="display: none;">
            <div class="review-row">
                <div class="review-label">MES Delivery Date:</div>   <div data-editable="HughesVsatDate" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">MES Delivery Status:</div>     <div data-editable="HughesVsatStatus" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">EAC Testing Date:</div>   <div data-editable="HughesTempDate" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">EAC Status:</div>     <div data-editable="HughesTempStatus" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Primary Date:</div>   <div data-editable="HughesPrimaryDate" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Primary Status:</div>     <div data-editable="HughesPrimaryStatus" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Deinstall Date:</div>   <div data-editable="HughesDeinstallDate" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Deinstall Status:</div>     <div data-editable="HughesDeinstallStatus" class="review-value"></div>
            </div>
        </div>
    </td>

    <!--POS-->
    <td>
        <div class="summary-box-title" data-category="POS">POS</div>
        <div class="row-summary"><div data-display="PosDeliveryDate"></div></div></div>
        <div class="row-details" style="display: none;">
            <div class="review-row">
                <div class="review-label">Vendor:</div>     <div data-editable="Pos" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Delivery:</div>   <div data-editable="PosDeliveryDate" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Config:</div>     <div data-editable="PosConfigDate" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Support:</div>    <div data-editable="PosVendorSupportDate" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Status:</div>     <div data-editable="PosStatus" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">EM Status:</div>  <div data-editable="EnterpriseManagementStatus" class="review-value"></div>
            </div>
        </div>
    </td>

    <!--POPS-->
    <td>
        <div class="summary-box-title" data-category="POPS">POPS</div>
        <div class="row-summary"><div data-display="PopsDeliveryDate"></div></div></div>
        <div class="row-details" style="display: none;">
            <div class="review-row">
                <div class="review-label">Delivery:</div>     <div data-editable="PopsDeliveryDate" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Status:</div>   <div data-editable="PopsStatus" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">DT Base Delivery:</div>     <div data-editable="DtPopsBaseDeliveryDate" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">DT Base Status:</div>   <div data-editable="DtPopsBaseStatus" class="review-value"></div>
            </div>
        </div>
    </td>

    <!--Audio-->
    <td>
        <div class="summary-box-title" data-category="Audio">Audio</div>
        <div class="row-summary"><div data-display="AudioDeliveryDate"></div></div></div>
        <div class="row-details" style="display: none;">
            <div class="review-row">
                <div class="review-label">Type:</div>     <div data-editable="AudioType" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Delivery:</div>   <div data-editable="AudioDeliveryDate" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Loop:</div>   <div data-editable="GroundLoopStatus" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Status:</div>   <div data-editable="AudioStatus" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Vendor Note:</div>   <div data-editable="AudioVendorStatus" class="review-value" style="white-space: normal; max-width: 180px;"></div>
            </div>
        </div>
    </td>

    <!--PAYS-->
    <td>
        <div class="summary-box-title" data-category="PAYS">PAYS</div>
        <div class="row-summary"><div data-display="PaysDeliveryDate"></div></div></div>
        <div class="row-details" style="display: none;">
            <div class="review-row">
                <div class="review-label">BuyPass ID:</div>     <div data-editable="MerchantId" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Server EPS:</div>   <div data-editable="ServerEps" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">OA Date:</div>   <div data-editable="OADate" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Status:</div>   <div data-editable="CirronetStatus" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Delivery:</div>   <div data-editable="PaysDeliveryDate" class="review-value"></div>
            </div>
        </div>
    </td>

    <!--DMB-->
    <td>
        <div class="summary-box-title" data-category="DMB">DMB</div>
        <div class="row-summary"><div data-display="DmbTvDeliveryDate"></div></div></div>
        <div class="row-details" style="display: none;">
            <div class="review-row">
                <div class="review-label">Delivery:</div>     <div data-editable="DmbTvDeliveryDate" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Content:</div>   <div data-editable="DmbContentCreated" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Status:</div>   <div data-editable="DmbTvStatus" class="review-value"></div>
            </div>
        </div>
    </td>

    <!--SonicRadio-->
    <td>
        <div class="summary-box-title" data-category="SonicRadio">Sonic Radio</div>
        <div class="row-summary"><div data-display="SonicRadioDeliveryDate"></div></div></div>
        <div class="row-details" style="display: none;">
            <div class="review-row">
                <div class="review-label">Delivery:</div>     <div data-editable="SonicRadioDeliveryDate" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Status:</div>   <div data-editable="SonicRadioStatus" class="review-value"></div>
            </div>
        </div>
    </td>

    <!--Install-->
    <td>
        <div class="summary-box-title" data-category="Installer">Installer</div>
        <div class="row-summary"><div data-display="InstallDate"></div></div></div>
        <div class="row-details" style="display: none;">
            <div class="review-row">
                <div class="review-label">Installer:</div>     <div data-editable="Installer" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Date:</div>   <div data-editable="InstallDate" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">End Date:</div>   <div data-editable="InstallEndDate" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Quote:</div>   <div data-editable="InstallationStatus" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Time:</div>   <div data-editable="OvernightInstall" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Signoffs:</div>   <div data-editable="InstallSignoffStatus" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Signoff Date:</div>   <div data-editable="SignoffDate" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Complete:</div>   <div data-editable="ProjectStatus" class="review-value"></div>
            </div>
            <div class="review-row">
                <div class="review-label">Test Transactions:</div>   <div data-editable="TestTransactionStatus" class="review-value"></div>
            </div>
        </div>
    </td>


    <!--Notes-->
    <td>
        <div class="summary-box-title" data-category="Notes">Notes</div>
        <div class="row-details" style="display: none;">
            <div data-editable="OldNotes" style="min-width: 150px; max-width: 300px; white-space: normal;"></div>
        </div>
    </td>
</tr>