<table id="email" style="width: 100%; vertical-align: top;">
    <tr>
        <td>To:</td>
        <td id="to"></td>
    </tr>
    <tr>
        <td>CC:</td>
        <td id="cc"></td>
    </tr>
    <tr>
        <td>Subject:</td>
        <td id="subject"></td>
    </tr>
    <tr style="vertical-align: top;">
        <td>Message:</td>
        <td>
            <div id="message" contenteditable="true" style="min-height: 450px;"><div id="message-body" style="font-family: Arial, Helvetica, sans-serif;"></div></div>
        </td>
    </tr>
</table>
<div style="text-align: center;"><button id="submit-button" type="button"></button></div>