<table id="email" style="width: 100%; vertical-align: top;">
    <tr>
        <td>Subject:</td>
        <td id="subject"></td>
    </tr>
    <tr style="vertical-align: top;">
        <td>Message:</td>
        <td>
            <div id="message" contenteditable="true" style="min-height: 450px;"><div style="font-family: Arial, Helvetica, sans-serif;">
                <p>Comm-Works, Please provide a purchase order for this store based on the information below.  Please be sure to reply to all so our entire team receives it.</p>
                <p>ISC, A Purchase Order will be issued for the items listed below.  Please verify that you can meet the delivery date listed.  Thanks!</p>
                <table id="quote-info" style="font-family: Arial, Helvetica, sans-serif;">
                    <tr>
                        <td>Type:</td><td id="ProjectType" data-display="ProjectType"></td>
                    </tr>
                    <tr>
                        <td>Store:</td><td>Sonic Drive In #<span data-display="StoreNumber"></span></td>
                    </tr>
                    <tr>
                        <td></td><td id="Address" data-display="Address"></td>
                    </tr>
                    <tr>
                        <td></td><td><span data-display="City"></span> <span data-display="State"></span>, <span data-display="Zip"></span></td>
                    </tr>
                    <tr>
                        <td>Franchisee:</td><td id="FranchiseGroup" data-display="FranchiseGroup"></td>
                    </tr>
                    <tr>
                        <td>Primary Contact:</td><td id="PrimaryContact" data-display="PrimaryContact"></td>
                    </tr>
                    <tr>
                        <td></td><td id="PrimaryPhone" data-display="PrimaryPhone"></td>
                    </tr>
                    <tr>
                        <td></td><td id="PrimaryEmail" data-display="PrimaryEmail"></td>
                    </tr>
                    <tr>
                        <td>Delivery:</td><td style="font-weight: bold;" id="PopsDeliveryDate" data-display="PopsDeliveryDate"></td>
                    </tr>
                    <tr>
                        <td>Installer:</td><td style="font-weight: bold;" id="Installer" data-display="Installer"></td>
                    </tr>
                    <tr>
                        <td>Project Manager:</td><td id="ProjectManager" data-display="ProjectManager"></td>
                    </tr>
                </table>
                <br/>
                <table class="order-items" style="border: 1px solid black; border-collapse: collapse; font-family: Arial, Helvetica, sans-serif;">
                    <thead>
                        <tr style="background-color: #333; color: #DDD;">
                            <th>QTY</th>
                            <th style="width:50px">Item</th>
                            <th style="width:50px">Part #</th>
                            <th style="width: 300px;">ISC Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="TotalStalls"></td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">Aluminum POPS</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">FC-6675</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">Aluminum POPS Menu Board Assembly</td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="ExtensionBrackets"></td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">Patio Brackets</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">FC-6343-100 X</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">4" Extension, Black</td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="CChannelBrackets"></td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">C-Channel Brackets</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">FC-6343-200</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">30 Deg Ext Bracket</td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;">2</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">Wireless AP</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">P12453-01-01</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">Wireless Router, Fortinet</td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;">2</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">PoE Injector</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">GPI-115</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">Gigabit, PoE Injector</td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;">4</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">AP Antenna</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">P12649-01</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">Antenna, Fortinet</td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="PaysEnclosureIndoor"></td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">45 Degree PAYS Enclosures</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">FC-6506 X2</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">Payment Enclosure Assemply #22111(inside)</td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="PaysEnclosureOutdoor"></td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">90 Degree PAYS Enclosures</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">FC-65060D X</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">PAYMENT ENCLOSURE OUTDOOR</td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="PaysEnclosureDriveThru"></td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">Drive Thru PAYS Enclosures</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">FC-6548</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">Drive Thru Pays Enclosure</td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="DtPopsQuantity"></td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">Drive Thru POPS</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">FC-6632P</td>
                            <td style="border-top: 1px solid black; width: 250px; text-align: center;">Drive-Thru Assembly, less IDTECH components</td>
                        </tr>
                    </tbody>
                </table>
            </div></div>
        </td>
    </tr>
</table>
<div style="text-align: center;"><button id="submit-button" type="button"></button></div>