<table id="email" style="width: 100%; vertical-align: top;">
    <tr>
        <td>To:</td>
        <td id="to">SonicSales@hme.com</td>
    </tr>
    <tr>
        <td>CC:</td>
        <td id="cc">PostInstallationManagement@Sonicdrivein.com;NewStoreTechnologyInstallations@Sonicdrivein.com; </td>
    </tr>
    <tr>
        <td>Subject:</td>
        <td id="subject"></td>
    </tr>
    <tr style="vertical-align:top;">
        <td>Message:</td>
        <td>
            <div id="message" contenteditable="true" style="min-height: 450px;"><div style="font-family: Arial, Helvetica, sans-serif;">
                <p>Please create a vehicle detection loop order based on the information listed below. Please provide tracking information when available. Thanks!</p>
                <table id="quote-info" style="font-family: Arial, Helvetica, sans-serif;">
                    <tr>
                        <td>Store Number:</td>
                        <td>#<span data-display="StoreNumber"></span></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td id="Address" data-display="Address"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span data-display="City"></span> <span data-display="State"></span>, <span data-display="Zip"></span></td>
                    </tr>
                    <tr>
                        <td>Franchisee:</td>
                        <td id="FranchiseGroup" data-display="FranchiseGroup"></td>
                    </tr>
                    <tr>
                        <td>Primary Contact:</td>
                        <td id="PrimaryContact" data-display="PrimaryContact"></td>
                    </tr>
                    <tr>
                        <td>Primary Phone:</td>
                        <td id="PrimaryPhone" data-display="PrimaryPhone"></td>
                    </tr>
                    <tr>
                        <td>Primary Email:</td>
                        <td id="PrimaryEmail" data-display="PrimaryEmail"></td>
                    </tr>
                    <tr>
                        <td>Loops Requested:</td>
                        <td id="GroundLoopStatus" data-display="GroundLoopStatus"></td>
                    </tr>
                    <tr>
                        <td>Loop Type:</td>
                        <td id="AudioLoopType" data-display="AudioLoopType"></td>
                    </tr>
                    <tr>
                        <td>Latest Delivery Date:</td>
                        <td id="GroundLoopDelivery" data-display="GroundLoopDelivery"></td>
                    </tr>
                    
                </table>

                <p><b></b></p>
                

            </div></div>
        </td>
    </tr>
</table>
<div style="text-align: center;"><button id="submit-button" type="button"></button></div>