<div class="modal">
    <div><h3>Are you sure that this is the correct address?<br/></h3></div>
    <div id="store-name" style="clear: left;">Sonic Drive In #<div data-display="StoreNumber" style="display: inline-block;"></div></div>
    <div data-display="Address" id="store-address"></div>
    <div id="store-location" style="margin-bottom: 14px;">
        <div data-display="City" id="store-city" style="min-width: 40px; margin-right: 5px; display: inline-block;"></div>
        <div data-display="State" id="store-state" style="min-width: 20px; display: inline-block;"></div>
        <div style="margin-right: 5px; display: inline-block;">,</div>
        <div data-display="Zip" id="store-zip" style="min-width: 100px; display: inline-block"></div>
    </div>
    <div style="text-align: center;">
        <button class="pure-button pure-button-primary" id="hughes-address-check-yes">Yes</button>
        <button class="pure-button" id="hughes-address-check-no">No</button>
    </div>
</div>