<div class="modal">
    <div>
        <h3>Upload HAN?</h3>
        <span>Note - Only send without HAN if you have previously confirmed that Hughes has on file or you have an understanding with Hughes to create an order without the HAN.<br/><br/></span>
    </div>
    <br/><br/>
    <div style="text-align: center;">
        <label for="hughes-agreement-upload" class="pure-button">Upload</label>
        <input id="hughes-agreement-upload" type="file" />
        <button class="pure-button" id="hughes-send-without">Previously Uploaded/Send Without HAN</button>
    </div>
</div>