<table id="issue-editor" style="width: 100%; vertical-align: top;">
    <tr>
        <td>Title:</td>
        <td id="Title"></td>
    </tr>
    <tr>
        <td>Assigned:</td>
        <td id="Assigned"></td>
    </tr>
    <tr>
        <td>Waiting On:</td>
        <td id="WaitingOn"></td>
    </tr>
    <tr>
        <td>Type:</td>
        <td id="Type"></td>
    </tr>
    <tr>
        <td>Severity:</td>
        <td id="Severity"></td>
    </tr>
    <tr>
        <td>Status:</td>
        <td id="Status"></td>
    </tr>
    <tr style="vertical-align: top;">
        <td>Description:</td>
        <td>
            <div id="Description" style="min-height: 450px;"></div>
        </td>
    </tr>
</table>
<div style="text-align: center;"><button id="submit-button" type="button"></button></div>