<table id="email" style="width: 100%; vertical-align: top;">
    <tr>
        <td>To:</td>
        <td id="to">sonicorder@level10.com;gglaze@level10.com;elanglo@level10.com; </td>
    </tr>
    <tr>
        <td>CC:</td>
        <td id="cc">SDI-NewStoreTechnologyInstallations-DL@sonicdrivein.com; </td>
    </tr>
    <tr>
        <td>Subject:</td>
        <td id="subject"></td>
    </tr>
    <tr style="vertical-align: top;">
        <td>Message:</td>
        <td>
            <div id="message" contenteditable="true" style="min-height: 450px;"><div style="font-family: Arial, Helvetica, sans-serif;">
                <p>Hello all - We need Next Gen Pays established at this location. Please make arrangements to complete and/or ship to the following address for delivery by <span data-display="PaysDeliveryDate" style="font-weight: bold;"></span>. Please respond to the IT project manager listed below to verify that you can meet this date or with any issues that we might have. Thanks!</p>
                <table id="quote-info" style="font-family: Arial, Helvetica, sans-serif;">
                    <tr>
                        <td>Store Number:</td><td>#<span data-display="StoreNumber"></span></td>
                    </tr>
                    <tr>
                        <td></td><td id="Address" data-display="Address"></td>
                    </tr>
                    <tr>
                        <td></td><td><span data-display="City"></span> <span data-display="State"></span>, <span data-display="Zip"></span></td>
                    </tr>
                    <tr>
                        <td>Franchisee:</td><td id="FranchiseGroup" data-display="FranchiseGroup"></td>
                    </tr>
                    <tr>
                        <td>Primary Contact:</td><td id="PrimaryContact" data-display="PrimaryContact"></td>
                    </tr>
                    <tr>
                        <td></td><td id="PrimaryPhone" data-display="PrimaryPhone"></td>
                    </tr>
                    <tr>
                        <td></td><td id="PrimaryEmail" data-display="PrimaryEmail"></td>
                    </tr>
                    <tr>
                        <td>Delivery:</td><td style="font-weight: bold;" id="PaysDeliveryDate" data-display="PaysDeliveryDate"></td>
                    </tr>
                    <tr>
                        <td>Project Manager:</td><td id="VP6800ITPM" data-display="VP6800ITPM"></td>
                    </tr>
                    <tr>
                        <td>Bill To:</td>
                        <td id="CompanyBillTo" data-display="CompanyBillTo"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td id="AddressBillTo" data-display="AddressBillTo"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span data-display="CityBillTo"></span> <span data-display="StateBillTo"></span>, <span data-display="ZipBillTo"></span></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td id="EmailBillTo" data-display="EmailBillTo"></td>
                    </tr>
                    <tr>
                        <td>PO #:</td>
                        <td id="VP6800PONum" data-display="VP6800PONum"></td>
                    </tr>
                </table>
                <br /><br />
                
                <table class="order-items" style="border: 1px solid black; border-collapse: collapse; font-family: Arial, Helvetica, sans-serif;">
                    <thead>
                        <tr style="background-color: #333; color: #DDD;">
                            <th>QTY</th>
                            <th>Part #</th>
                            <th>Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="PaysQuantity"></td><td style="border-top: 1px solid black; width: 45px; text-align: center;width:200px;">SON-IDV68-10011-S1</td><td style="border-top: 1px solid black; width: 350px; text-align: center;">Payment Reader (includes Data Encryption Key)</td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="PaysQuantity"></td><td style="border-top: 1px solid black; width: 45px; text-align: center;">SON-80159241-001</td><td style="border-top: 1px solid black; text-align: center;">POE Cable for VP6800</td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="PaysEnclosureIndoor"></td><td style="border-top: 1px solid black; width: 45px; text-align: center;">SON-FC-6506B</td><td style="border-top: 1px solid black; text-align: center;">Payment Enclosure #23773 (45 Degree)</td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="PaysEnclosureOutdoor"></td><td style="border-top: 1px solid black; width: 45px; text-align: center;">SON-FC-6506ODB</td><td style="border-top: 1px solid black; text-align: center;">Payment Enclosure VP6800 (90 Degree)</td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="DegreeSunShield"></td><td style="border-top: 1px solid black; width: 45px; text-align: center;">SON-FC-6506-005OD</td><td style="border-top: 1px solid black; text-align: center;">15 Degree Sun Shield</td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="PaysEnclosureDriveThru"></td><td style="border-top: 1px solid black; width: 45px; text-align: center;">SON-FC-654802</td><td style="border-top: 1px solid black; text-align: center;">Drive-Thru Window Enclosure with bracket</td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="PaysRackMountUPS"></td><td style="border-top: 1px solid black; width: 45px; text-align: center;">SON-OR700LCDRM1U</td><td style="border-top: 1px solid black; text-align: center;">CyberPower 700va Rackmountd i UPS</td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="PaysRackMountShelf"></td><td style="border-top: 1px solid black; width: 45px; text-align: center;">SON-SP-RACKTRAY-02</td><td style="border-top: 1px solid black; text-align: center;">Forti RackMount Shelf</td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="">1</td>
                            <td style="border-top: 1px solid black; width: 45px; text-align: center;"></td>
                            <td style="border-top: 1px solid black; text-align: center;">Level 10 Kitting/Staging Fee</td>
                        </tr>
                    </tbody>
                </table>

            </div></div>
        </td>
    </tr>
</table>
<div style="text-align: center;"><button id="submit-button" type="button"></button></div>