<div class="modal">
    <div><h3>Audio Requirements?<br/></h3></div>
    <div><p>How many order takers will this store be using to take orders through the audio systems (don't include order takers at the front counter)?<br/></p></div>
    <div><label for="micros-audio-order-takers">Order Takers: </label><input id="micros-audio-order-takers" type="number" min="1"/></div>
    <div style="text-align: center; margin-top: 15px; ">
        <button class="pure-button pure-button-primary" disabled id="micros-audio-input-yes">Yes</button>
        <button class="pure-button" id="micros-audio-input-no">No</button>
    </div>
</div>