<div style="font-family: Arial, Helvetica, sans-serif;  ">
    <p>Please provide a quote for this store based on the information below.  Please be sure to reply to all so our entire team receives it. Thanks!</p>

    <table id="quote-info" style="font-family: Arial, Helvetica, sans-serif;">
        <tr>
            <td>Store Number:</td><td>#<span data-display="StoreNumber"></span></td>
        </tr>
        <tr>
            <td></td><td id="Address" data-display="Address"></td>
        </tr>
        <tr>
            <td></td><td><span data-display="City"></span> <span data-display="State"></span>, <span data-display="Zip"></span></td>
        </tr>
        <tr>
            <td>Franchisee:</td><td id="FranchiseGroup" data-display="FranchiseGroup"></td>
        </tr>
        <tr>
            <td>Primary Contact:</td><td id="PrimaryContact" data-display="PrimaryContact"></td>
        </tr>
        <tr>
            <td>Primary Phone:</td><td id="PrimaryPhone" data-display="PrimaryPhone"></td>
        </tr>
        <tr>
            <td>Primary Email:</td><td id="PrimaryEmail" data-display="PrimaryEmail"></td>
        </tr>
        <tr>
            <td>Audio Delivery Date:</td><td id="AudioDeliveryDate" data-display="AudioDeliveryDate"></td>
        </tr>
        <tr>
            <td>ProjectManager:</td><td id="ProjectManager" data-display="ProjectManager"></td>
        </tr>
        <tr>
            <td>Stall Count:</td><td id="StallCount" data-display="StallCount"></td>
        </tr>
        <tr>
            <td>Patio Count:</td><td id="PatioCount" data-display="PatioCount"></td>
        </tr>
        <tr>
            <td>Drive-Thru:</td><td id="DriveThruStatus" data-display="DriveThruFormat"></td>
        </tr>
        <tr>
            <td>Audio Config:</td><td id="AudioConfiguration" data-display="AudioConfiguration"></td>
        </tr>
    </table>
    <br/><br/>
    <table class="order-items" style="border: 1px solid black; border-collapse: collapse; font-family: Arial, Helvetica, sans-serif;">
        <thead>
            <tr style="background-color: #333; color: #DDD;">
                <th>QTY</th>
                <th style="width: 400px;">Item</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="AudioEndpointCount"></td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">Stall Kit (Speaker, Mic, Endpoint)</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="MicrosAudioDriveThruLanes"></td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">Vehicle/Loop Detector</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="MicrosAudioOrderTakers"></td>
                <td style="border-top: 1px solid black; text-align: center;">Wired Headsets (headset, amp, quick disconnect, splitter)</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="MicrosAudioWirelessHeadsets"></td>
                <td style="border-top: 1px solid black; text-align: center;">Wireless Headsets</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="MicrosAudioUsbHubs"></td>
                <td style="border-top: 1px solid black; text-align: center;">USB Hubs (hub, power supply)</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;">1</td>
                <td style="border-top: 1px solid black; text-align: center;">Ceiling Speakers</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="MicrosAudioSixteenPortInternalSwitches"></td>
                <td style="border-top: 1px solid black; text-align: center;">16 Port Indoor POE Switches</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="MicrosAudioEightPortInternalSwitches"></td>
                <td style="border-top: 1px solid black; text-align: center;">8 Port Indoor POE Switches</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="MicrosAudioEightPortExternalSwitches"></td>
                <td style="border-top: 1px solid black; text-align: center;">8 Port Outdoor POE Switches</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="MicrosAudioPoeInjectors"></td>
                <td style="border-top: 1px solid black; text-align: center;">POE Injectors</td>
            </tr>
        </tbody>
    </table>


    <br/>
    Respectfully,<br/><br/>
    <span id="pm"></span><br/>
    New Store Team<br/>
    <span id="phone"></span><br/>
    <span id="email"></span><br/>
</div>