<table id="note-editor" style="width: 100%; vertical-align: top;">
    <tr id='note-edit-type-row'>
        <td>Type:</td>
        <td id="Type"></td>
    </tr>
    <tr id='note-edit-source-row'>
        <td>Source:</td>
        <td id="Source"></td>
    </tr>
    <tr id='note-edit-note-row' style="vertical-align: top;">
        <td>Note:</td>
        <td>
            <div id="Note" style="min-height: 450px;"></div>
        </td>
    </tr>
</table>
<div style="text-align: center;"><button id="submit-button" type="button"></button></div>