<table id="email" class="PMOTable">
    <tr>
        <td>To:</td>
        <td id="to">SonicOrder@level10.com;  </td>
    </tr>
    <tr>
        <td>CC:</td>
        <td id="cc">technology.implementation@sonicdrivein.com; </td>
    </tr>
    <tr>
        <td>Subject:</td>
        <td id="subject"></td>
    </tr>
    <tr class="PMOTableTR">
        <td>Message:</td>
        <td>
            <div id="message" contenteditable="true" class="PMOTableMessage">
                <div class="PMOTableDiv">
                    <p>Hello all - We need Next Gen Pays established at this location. Please make arrangements to complete and/or ship to the following address for delivery by <span data-display="VP6800Delivery" class="PMOTableSpan"></span>.  Please respond to the IT project manager listed below to verify that you can meet this date or with any issues that we might have.  Thanks!</p>
                    <table id="quote-info" class="PMOTableQuote">
                        <tr>
                            <td>Store Number:</td>
                            <td>#<span data-display="StoreNumber" id="viewStoreNumber"></span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td id="Address" data-display="Address"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span data-display="City"></span> <span data-display="State"></span>, <span data-display="Zip"></span></td>
                        </tr>
                        <tr>
                            <td>Franchisee:</td>
                            <td id="FranchiseGroup" data-display="FranchiseGroup"></td>
                        </tr>
                        <tr>
                            <td>Primary Contact:</td>
                            <td id="PrimaryContact" data-display="PrimaryContact"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td id="PrimaryPhone" data-display="PrimaryPhone"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td id="PrimaryEmail" data-display="PrimaryEmail"></td>
                        </tr>
                        <tr>
                            <td>Delivery:</td>
                            <td class="PMOTableDelivery" id="PaysDeliveryDate" data-display="VP6800Delivery"></td>
                        </tr>
                        <tr>
                            <td>Project Manager:</td>
                            <td id="ProjectManager" data-display="VP6800ITPM"></td>
                        </tr>
                        <tr>
                            <td>Bill To:</td>
                            <td id="CompanyBillTo" data-display="CompanyBillTo"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td id="AddressBillTo" data-display="AddressBillTo"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span data-display="CityBillTo"></span>, <span data-display="StateBillTo"></span> <span data-display="ZipBillTo"></span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td id="EmailBillTo" data-display="EmailBillTo"></td>
                        </tr>
                        <tr>
                            <td>PO #:</td>
                            <td id="PONum" data-display="PONum"></td>
                        </tr>
                    </table>

                    <p><b></b></p>
                    <table class="order-items TablePMOOrderItems">
                        <thead>
                            <tr class="TablePMOOrderItemsTR">
                                <th>QTY</th>
                                <th>Part #</th>
                                <th>Item</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="vpUnitsQuantityRow">
                                <td class="vpUnitsQuantity TablePMOOrderItemsTD1"></td>
                                <td class="TablePMOOrderItemsTD2">SON-IDV68-10011-S1</td>
                                <td class="TablePMOOrderItemsTD2">Payment Reader (includes Data Encryption Key)</td>
                            </tr>

                            <tr class="vpUnitsQuantityRow">
                                <td class="vpUnitsQuantity TablePMOOrderItemsTD1"></td>
                                <td class="TablePMOOrderItemsTD2">SON-80159241-001</td>
                                <td class="TablePMOOrderItemsTD3">POE Cable for VP6800</td>
                            </tr>
                            <tr class="vp45QuantityRow">
                                <td id="serial-cables" class="vp45Quantity TablePMOOrderItemsTD1"></td>
                                <td class="TablePMOOrderItemsTD2">SON-FC-6506B</td>
                                <td class="TablePMOOrderItemsTD3">Payment Enclosure #23773 (45 Degree)</td>
                            </tr>
                            <tr class="vp90QuantityRow">
                                <td class="vp90Quantity TablePMOOrderItemsTD1"></td>
                                <td class="TablePMOOrderItemsTD2">SON-FC-6506ODB</td>
                                <td class="TablePMOOrderItemsTD3">Payment Enclosure VP6800 (90 Degree)</td>
                            </tr>
                            <tr class="sunShieldQuantityRow">
                                <td class="sunShieldQuantity TablePMOOrderItemsTD1"></td>
                                <td class="TablePMOOrderItemsTD2">SON-FC-6506-005OD</td>
                                <td class="TablePMOOrderItemsTD3">15 Degree Sun Shield</td>
                            </tr>
                            <tr class="DTWindowQuantityRow">
                                <td class="DTWindowQuantity TablePMOOrderItemsTD1"></td>
                                <td class="TablePMOOrderItemsTD2">SON-FC-654802</td>
                                <td class="TablePMOOrderItemsTD3">Drive-Thru Window Enclosure with bracket</td>
                            </tr>
                            <tr class="hughesSwitchUpgradeOrderedQuantityRow">
                                <td class="hughesSwitchUpgradeOrderedQuantity TablePMOOrderItemsTD1"></td>
                                <td class="TablePMOOrderItemsTD2">SON-FS-124E-POE</td>
                                <td class="TablePMOOrderItemsTD3">24 Port Switch</td>
                            </tr>
                            <tr class="hughesSwitchUpgradeOrderedQuantityRow">
                                <td class="TablePMOOrderItemsTD1">1</td>
                                <td class="TablePMOOrderItemsTD2">SON-OR700LCDRM1U</td>
                                <td class="TablePMOOrderItemsTD3">CyberPower 700va Rackmountd i UPS</td>
                            </tr>
                            <tr class="hughesSwitchUpgradeOrderedQuantityRow">
                                <td class="TablePMOOrderItemsTD1">1</td>
                                <td class="TablePMOOrderItemsTD2">SON-RM-FR-T3</td>
                                <td class="TablePMOOrderItemsTD3">Forti RackMount Shelf</td>
                            </tr>
                            <tr class="hughesSwitchUpgradeOrderedQuantityRow TablePMORemoveRow" id="serverCabinet6u">
                                <td class="serverCabinetQuantity TablePMOOrderItemsTD1"></td>
                                <td class="TablePMOOrderItemsTD2">SON-VMP-ERWEN-6E</td>
                                <td class="TablePMOOrderItemsTD3">6u Server Cabinet</td>
                            </tr>
                            <tr class="hughesSwitchUpgradeOrderedQuantityRow TablePMORemoveRow" id="serverCabinet12u">
                                <td class="serverCabinet12uQuantity TablePMOOrderItemsTD1"></td>
                                <td class="TablePMOOrderItemsTD2">SON-SRW12USG</td>
                                <td class="TablePMOOrderItemsTD3">12u Server Cabinet</td>
                            </tr>
                            <tr class="hughesSwitchUpgradeOrderedQuantityRow fankit2 TablePMORemoveRow" id="serverCabinet12uFan">
                                <td class="TablePMOOrderItemsTD1">1</td>
                                <td class="TablePMOOrderItemsTD2">SON-SRCOOLMVKIT</td>
                                <td class="TablePMOOrderItemsTD3">Magnetic Vinyl Kit for Rack Airflow</td>
                            </tr>
                            <tr class="hughesSwitchUpgradeOrderedQuantityRow fankit">
                                <td class="fanKitQuantity TablePMOOrderItemsTD1"></td>
                                <td class="TablePMOOrderItemsTD2">SON-SRFANWM</td>
                                <td class="TablePMOOrderItemsTD3">2 Fan Kit for Wall Enclosures (Server Cabinet Fan Kit)</td>
                            </tr>
                            <tr class="hughesSwitchUpgradeOrderedQuantityRow TablePMORemoveRow" id="MOR71">
                                <td class="serverCabinetShelfQuantity TablePMOOrderItemsTD1"></td>
                                <td class="TablePMOOrderItemsTD2">SON-SRSHELF2P</td>
                                <td class="TablePMOOrderItemsTD3">Rack Shelf for MOR71 (Server Cabinet)</td>
                            </tr>
                            <tr>
                                <td class="TablePMOOrderItemsTD1">1</td>
                                <td class="TablePMOOrderItemsTD2"></td>
                                <td class="TablePMOOrderItemsTD3">Level 10 Kitting/Staging Fee</td>
                            </tr>


                        </tbody>
                    </table>

                </div>
            </div>
        </td>
    </tr>
</table>
<div class="TablePMOCenter"><button id="submit-button" type="button"></button></div>