<div class="modal">
    <div><h3>Has the refresh been completed at this store? Answering "Yes" will add the rebate.<br/></h3></div>
    <div id="store-name" style="clear: left;">Sonic Drive In #<div data-display="StoreNumber" style="display: inline-block;"></div></div>
    
    <div style="text-align: center;">
        <button class="pure-button pure-button-primary" id="pro-forma-address-check-yes">Yes</button>
        <button class="pure-button" id="pro-forma-address-check-no">No</button>
    </div>
</div>