<table id="email" style="width: 100%; vertical-align: top;">
    <tr>
        <td>To:</td>
        <td id="to">Lisa.Pease@ncr.com</td>
    </tr>
    <tr>
        <td>CC:</td>
        <td id="cc">Barrett.Seal@sonicdrivein.com</td>
    </tr>
    <tr>
        <td>Subject:</td>
        <td id="subject"></td>
    </tr>
    <tr style="vertical-align: top;">
        <td>Message:</td>
        <td>
            <div id="message" contenteditable="true" style="min-height: 450px;"><div style="font-family: Arial, Helvetica, sans-serif;">
                <p><b>Retalix/Lisa Pease</b> - Please verify that this store is set-up in ServerEPS for company 10223</p>
                <table id="quote-info" style="font-family: Arial, Helvetica, sans-serif;">
                    <tr>
                        <td>Store Number:</td><td>#<span data-display="StoreNumber"></span></td>
                    </tr>
                    <tr>
                        <td></td><td id="Address" data-display="Address"></td>
                    </tr>
                    <tr>
                        <td></td><td><span data-display="City"></span> <span data-display="State"></span>, <span data-display="Zip"></span></td>
                    </tr>
                    <tr>
                        <td>Franchisee:</td><td id="FranchiseGroup" data-display="FranchiseGroup"></td>
                    </tr>
                    <tr>
                        <td>Primary Contact:</td><td id="PrimaryContact" data-display="PrimaryContact"></td>
                    </tr>
                    <tr>
                        <td></td><td id="PrimaryPhone" data-display="PrimaryPhone"></td>
                    </tr>
                    <tr>
                        <td></td><td id="PrimaryEmail" data-display="PrimaryEmail"></td>
                    </tr>
                    <tr>
                        <td>Merchant ID:</td><td style="font-weight: bold;" id="MerchantId" data-display="MerchantId"></td>
                    </tr>
                    <tr>
                        <td>Project Manager:</td><td id="ProjectManager" data-display="ProjectManager"></td>
                    </tr>
                </table>
            </div></div>
        </td>
    </tr>
</table>
<div style="text-align: center;"><button id="submit-button" type="button"></button></div>