<div style="font-family: Arial, Helvetica, sans-serif;">
    <p>PAM Distribution,</p>
    <p>Please make arrangements to complete and/or ship to the following address for delivery by <span data-display="SonicRadioDeliveryDate" style="font-weight: bold;"></span>.  Please respond to the IT project manager listed below to verify that you can meet this date or with any issues that we might have.  Please provide a projected shipping date as soon as that is available and notify us upon shipment.  Thanks!</p>
    <table id="quote-info" style="border-collapse: collapse; font-family: Arial, Helvetica, sans-serif;">
        <tr>
            <td>Type:</td>
            <td id="ProjectType" data-display="ProjectType"></td>
        </tr>
        <tr>
            <td>Store:</td>
            <td>Sonic Drive In #<span data-display="StoreNumber"></span></td>
        </tr>
        <tr>
            <td></td>
            <td id="Address" data-display="Address"></td>
        </tr>
        <tr>
            <td></td>
            <td><span data-display="City"></span> <span data-display="State"></span>, <span data-display="Zip"></span></td>
        </tr>
        <tr>
            <td>Franchisee:</td>
            <td id="FranchiseGroup" data-display="FranchiseGroup"></td>
        </tr>
        <tr>
            <td>Primary Contact:</td>
            <td id="PrimaryContact" data-display="PrimaryContact"></td>
        </tr>
        <tr>
            <td></td>
            <td id="PrimaryPhone" data-display="PrimaryPhone"></td>
        </tr>
        <tr>
            <td></td>
            <td id="PrimaryEmail" data-display="PrimaryEmail"></td>
        </tr>
        <tr>
            <td>Delivery:</td>
            <td style="font-weight: bold;" id="SonicRadioDeliveryDate" data-display="SonicRadioDeliveryDate"></td>
        </tr>
        <tr>
            <td>Installer:</td>
            <td style="font-weight: bold;" id="Installer" data-display="Installer"></td>
        </tr>
        <tr>
            <td>Project Manager:</td>
            <td id="ProjectManager" data-display="ProjectManager"></td>
        </tr>
        
    </table>
    <br/>
    <table class="order-items" style="border: 1px solid black; border-collapse: collapse; font-family: Arial, Helvetica, sans-serif;">
        <thead>
            <tr style="background-color: #333; color: #DDD;">
                <th>QTY</th>
                <th style="width:50px">Item</th>
                <th style="width:50px">Part #</th>
                <th style="width: 300px;">Description</th>
            </tr>
        </thead>
            <tbody>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;">1</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">Factor Amp</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">FAC-X-560</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">MIXER AMP 60W COMMERCIAL</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;">1</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">18/2 Wire</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">118025B</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">18-2 Stranded Wire, 500' box</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;" id="SonicRadioOutdoorSpeakerCount" data-display="SonicRadioOutdoorSpeakerCount"></td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">Outdoor Speakers</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">FAC-IO-41<span id="SpeakerColorLetter">B</span>-70</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;"><span data-display="SonicRadioOutdoorSpeakerColor"></span> Outdoor/Surface mount speaker</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;" id="SonicRadioCeilingSpeakerCount" data-display="SonicRadioCeilingSpeakerCount"></td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">Indoor Speakers</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">FAC-E675-TLX</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">In-Ceiling speakers (10W)</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="SonicRadioZoneCount"></td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">Volume/Zone Control</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">FAC-VC75</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">75W Volume Control - White</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="SonicRadioRackCount"></td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">12U Rack</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">WAV-WM12U-SW</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">19" Hinged Equipment/Server Rack</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="SonicRadioRackCount"></td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">RACK SHELF FOR 12U Rack</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">MOR-S</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">RACK SHELF FOR MOR71</td>
            </tr>
            <tr>
                <td style="border-top: 1px solid black; width: 45px; text-align: center;" data-display="SonicRadioRackCount"></td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">Fan Kit</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">VMP-ERWEN2FANKIT</td>
                <td style="border-top: 1px solid black; width: 250px; text-align: center;">2 Fan Kit for Wall Enclosures</td>
            </tr>
        </tbody>
    </table>

    <br/>
    Respectfully,<br/><br/>
    <span id="pm"></span><br/>
    New Store Team<br/>
    <span id="phone"></span><br/>
    <span id="email"></span><br/>
</div>