<div>
    All,<br/><br/>
    There has been a change in target dates for this project.  Please update your schedule to reflect the following, responding to this email chain with confirmation of the change or any issues.<br/><br/>
    <table id="schedule-table" style="border: 1px solid black; border-collapse: collapse; font-family: Arial, Helvetica, sans-serif;">
        <tr style="background-color: #333; color: #DDD;">
            <th colspan="3">Schedule</th>
        </tr>
        <tr id="hughes-vsat-row">
            <td>Comcast Backup Install</td>
            <td><span data-display="HughesVsatDate"></span> <span data-display="HughesVsatDateType"></span></td>
            <td data-display="HughesVsatStatus"></td>
        </tr>
        <tr id="hughes-primary-row">
            <td>Comcast Primary Install</td>
            <td><span data-display="HughesPrimaryDate"></span> <span data-display="HughesPrimaryDateType"></span></td>
            <td data-display="HughesPrimaryStatus"></td>
        </tr>
        <tr id="hughes-temp-row">
            <td>Comcast Delivery</td>
            <td><span data-display="HughesTempDate"></span> <span data-display="HughesTempDateType"></span></td>
            <td data-display="HughesTempStatus"></td>
        </tr>
        <tr id="hughes-deinstall-row">
            <td>Hughes De-install</td>
            <td><span data-display="HughesDeinstallDate"></span> <span data-display="HughesDeinstallDateType"></span></td>
            <td data-display="HughesDeinstallStatus"></td>
        </tr>
        <tr id="pos-row">
            <td data-display="Pos"></td>
            <td data-display="PosDeliveryDate"></td>
            <td data-display="PosStatus"></td>
        </tr>
        <tr id="pops-row">
            <td>ISC Delivery</td>
            <td data-display="PopsDeliveryDate"></td>
            <td data-display="PopsStatus"></td>
        </tr>
        <tr id="audio-row">
            <td></td>
            <td data-display="AudioDeliveryDate"></td>
            <td data-display="AudioStatus"></td>
        </tr>
        <tr id="pays-row">
            <td id="DataDelivery">POS Data Delivery</td>
            <td data-display="PaysDeliveryDate"></td>
            <td data-display="CirronetStatus"></td>
        </tr>
        <tr id="dmb-row">
            <td>ProMotion Delivery</td>
            <td data-display="DmbTvDeliveryDate"></td>
            <td data-display="DmbTvStatus"></td>
        </tr>
        <tr id="sonic-radio-row">
            <td>Sonic Radio Delivery</td>
            <td data-display="SonicRadioDeliveryDate"></td>
            <td data-display="SonicRadioStatus"></td>
        </tr>
        <tr id="install-row">
            <td><span data-display="Installer"></span> Install</td>
            <td data-display="InstallDate"></td>
            <td data-display="InstallationStatus"></td>
        </tr>
        <tr id="cal-row">
            <td>Micros CAL</td>
            <td data-display="PosConfigDate"></td>
            <td></td>
        </tr>
        <tr id="support-row">
            <td>POS Support</td>
            <td data-display="PosVendorSupportDate"></td>
            <td></td>
        </tr>
        <tr id="live-row">
            <td>Go-Live</td>
            <td data-display="GoLiveDate"></td>
            <td></td>
        </tr>
    </table>

    <br/>
    Respectfully,<br/><br/>
    <span id="pm"></span><br/>
    New Store Team<br/>
    <span id="phone"></span><br/>
    <span id="email"></span><br/>
</div>