<div id="po-update">
    <div>Would you like to update any of the delivery dates of the following purchase orders?</div>
    <table id="po-update-list" class="pure-form">
        <thead>
            <tr>
                <th></th>
                <th>Type</th>
                <th>Current<br/>Delivery</th>
                <th>New<br/>Delivery</th>
            </tr>
        </thead>
        <tbody></tbody></table>
    <div style="text-align: center;"><button id="po-update-button">Update</button><span style="width: 20px; display: inline-block;"></span><button id="po-cancel-button">Don't Update</button></div>
</div>