<div class="proforma">
    <div class="proforma-title" style="width: 575px; padding: 10px; background-color: #333333; color:#EEEEEE; font-size:22px; float: left;">ORDER AUTHORIZATION & ESTIMATE - STORE #<span data-editable="StoreNumber"></span></div>
    <img style="width: 100px; float:right; margin: 5px;" src="resources/images/Logo.png" alt="Sonic Logo" />
    <!--<table class="proforma-addresses">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th>BILL TO:</th>-->
    <!--<th style="align:left;">Sonic Drive In #<span data-display="StoreNumber"></span></th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr>-->
    <!--<td>Company Name:</td>-->
    <!--<td data-display="FranchiseGroup" contenteditable="true"></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>Address:</td>-->
    <!--<td data-display="Address" contenteditable="true"></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>&nbsp;</td>-->
    <!--<td contenteditable="true"><span data-display="City"></span> <span data-display="State"></span>, <span data-display="Zip"></span></td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--<div class="proforma-float quarter">-->
    <!--<span>Ship Via:</span>-->
    <!--<div contenteditable="true">Ground</div>-->
    <!--</div>-->
    <!--<div class="proforma-float quarter">-->
    <!--<span>Delivery Date:</span>-->
    <!--<div data-display="PopsDeliveryDate" contenteditable="true"></div>-->
    <!--</div>-->
    <!--<div class="proforma-float half">-->
    <!--<span>Remarks:</span>-->
    <!--<div contenteditable="true"></div>-->
    <!--</div>-->
    <div style="clear: both;"></div>
    <table class="proforma-items pure-table pure-table-striped" style="clear: both;">
        <thead>
            <tr>
                <th>VENDOR</th>
                <th>DESCRIPTION</th>
                <th>PRICE</th>
                <th style="width: 85px;">QUANTITY</th>
                <th style="width: 85px;">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--<td><div></div></td>-->
            <!--<td><div class="proforma-dollar">$</div><div></div></td>-->
            <!--</tr>-->
        </tbody>
    </table>
    <div class="proforma-disclaimer">
        <table style="width: 600px;">

            <tr>
                <td style="text-align: right;">*</td>
                <td>This estimate does not include items that are quoted directly by vendors including but not limited to POS equipment, Hughes, electrical work, or any other items not listed here.</td>
            </tr>
            <tr>
                <td style="text-align: right;">**</td>
                <td><b>Taxes and shipping are not included.</b></td>
            </tr>
        </table>

    </div>
    <table class="pure-table proforma-totals" style="width: 246px; float: right; border-top: none;">
        <tbody>
            <tr style="display:none;">
                <td style="width: 97px;">Sub Total:</td>
                <td class="proforma-sub"><div class="proforma-dollar">$</div><div></div></td>
            </tr>
            <tr style="display:none;">
                <td>Taxes<span style="font-size: 12px;"> (8.5%)</span>**:</td>
                <td class="proforma-tax"><div class="proforma-dollar">$</div><div></div></td>
            </tr>
            <tr style="display:none;">
                <td>Shipping**:</td>
                <td class="proforma-shipping"><div class="proforma-dollar">$</div><div></div></td>
            </tr>
            <tr style="font-weight: bold">
                <td>Total**:</td>
                <td class="proforma-total"><div class="proforma-dollar">$</div><div></div></td>
            </tr>
        </tbody>
    </table>
    <div style="clear: both;"></div>
    <br />
    <h3 style="font-size: 16px; margin-top: 10px; margin-bottom: 5px;">By signing below, the undersigned Sonic Franchisee acknowledges that and agrees to the following terms:</h3>
    <br />
    <ol style="margin-top:0px;">
        <li>
            I authorize Sonic to place an order on our behalf for the Next Gen Pays equipment identified on the above order authorization and estimate.
            <br /><br />
        </li>

        <li>I agree that I shall pay for the equipment ordered.  I understand that I will be invoiced for the equipment ordered by Sonic’s approved vendor.  I understand and agree that payment terms for the invoice are net thirty (30) from the date the equipment is shipped.<br /><br /></li>

        <li>I understand and agree that there will be other charges for the installation of the Next Gen Pays equipment that I am ordering. I understand and agree that I will enter into an installation agreement with a Sonic-approved installation company that shall install the equipment on forms that are provided to me by the company performing the installation.  I further understand and agree that payment terms for the installation are net thirty (30 days from the date that the installation services have been satisfactorily performed.<br /><br /></li>

        <li>I understand and agree that I am authorized to enter into this agreement on behalf of the undersigned Sonic Franchisee.<br /><br /></li>




    </ol>
    <div style="page-break-inside: avoid;">
        <div class="proforma-float half">
            <span>Signed:</span>
            <div contenteditable="true"></div>
        </div>
        <div class="proforma-float half">
            <span>Date:</span>
            <div contenteditable="true"></div>
        </div>
        <div class="proforma-float half">
            <span>Name:</span>
            <div contenteditable="true"></div>
        </div>
        <div class="proforma-float half">
            <span>Title:</span>
            <div contenteditable="true"></div>
        </div>
        <div class="proforma-float half">
            <span>On Behalf of:</span>
            <div contenteditable="true"></div>
            <span class="proforma-line-description">(Legal Name of Sonic Franchisee)</span>
        </div>
        <div style="clear: both;"></div>
    </div>
    <br />
    <hr />
    <br />

</div>
